body {
  background-color: #70aac6;
  width: 100%;
}
.section {
  display: flex;
}

.users {
  width: 400px;
  background-color: #d95ba1;
  border-radius: 5px;
}
.users__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.users__item {
  background-color: #d5e5c8;
  text-align: center;
  padding: 15px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}
.posts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.posts {
  width: 400px;
  background-color: #d95ba1;
  border-radius: 5px;
}

.comments {
  width: 400px;
  background-color: #d95ba1;
  border-radius: 5px;
}
.posts__item {
  background-color: #d5e5c8;
  text-align: center;
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.comments__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.comments__item {
  background-color: #d5e5c8;
  text-align: center;
  padding: 15px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.users__item:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.posts__item:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.comments__item:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.users__address {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}
.users__company {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}
